<p>Співробітники на обраній посаді в обраному відділі</p>
<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th>ФІО</th>
      <th>Зарплатня, грн</th>

    </tr>
  </thead>
  <tr *ngFor="let pd of serviceEmp.empList">
    <td (click)="populateForm(pd)">{{pd.FullName}}</td>
    <td (click)="populateForm(pd)">{{pd.Salary}}</td>
    <td>
      <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.EmployeeId)"></i>  <!-- Для удаления элемента -корзина- передача в метод onDelete Id-->
    </td>
  </tr>
</table>
