<p>Змінення даних, додавання співробітника</p>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">

  <input type="hidden" name="EmployeeId" [value]="serviceEmp.formDataEmp.EmployeeId">  <!--в компоненте присваиваем 0 для Id, т.к. иначе отправляется null для int для обновления - игнорируется-->

  <div class="form-row">
    <div class="form-group col-md-12">
      <input name="FullName" #FullName="ngModel" [(ngModel)]="serviceEmp.formDataEmp.FullName" class="form-control"
             placeholder="ФІО" required>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <input name="Salary" #Salary="ngModel" [(ngModel)]="serviceEmp.formDataEmp.Salary" class="form-control"
             placeholder="Зарплатня" required>
    </div>
  </div>


  <div class="form-row">
    <div class="form-group col-md-12">
      <button class="btn btn-sm btn-success btn-lg btn-block" type="submit"> Змінити/Додати</button>
    </div>
  </div>
</form>
