
<div class="jumbtron">
  <p class="h3">Керування співробітниками - Штатний розклад</p>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <app-dep-root></app-dep-root>
    </div>

    <div class="col-md-4">
      <app-dep-position></app-dep-position>
    </div>

    <div class="col-md-4">
      <app-dep-position-emp></app-dep-position-emp>
     
    </div>
  </div>
  
  <hr>
  <div class="row">
    <div class="col-md-4">
      <app-pos-staff-list></app-pos-staff-list>
    </div>

    <div class="col-md-4">
      
    </div>

    <div class="col-md-4">
      <app-employee-change></app-employee-change>
    </div>

  </div>
</div>
